@import "../../../../styles/mixins.scss";
@import "../../../../styles/values.scss";

.begginersGPage {
  &__artsBlock {
    margin-top: 128px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    & > .blockContainer--artwork1 {
      img {
        width: 415px;
        height: 378px;
        flex-shrink: 0;
        justify-self: center;
        align-self: center;
      }
    }
    & > .blockContainer:first-child,
    & > .blockContainer:last-child {
      flex: 100%;
    }
    artwork1 & > .blockContainer:nth-child(2),
    & > .blockContainer:nth-child(3) {
      min-height: 260px;
    }
    & > .blockContainer:nth-child(2),
    & > .blockContainer:nth-child(3) {
      flex: 49%;
    }
    & > .blockContainer:nth-child(3) {
      text-align: start;
    }
    & > .blockContainer:last-child {
      overflow: hidden;
      > div {
        position: relative;

        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        min-height: 451px;

        p {
          color: white;
        }
        & > .blockContainer--map__AboutP {
          position: relative;
          z-index: 2;
          > div {
            @include fColumn;
            gap: 16px;

            text-align: start;
          }
        }
        & > .blockContainer--map__AboutP:first-child {
          > div {
            max-width: 274px;
          }
        }
        & > .blockContainer--map__AboutP:last-child {
          > div {
            max-width: 296px;
          }
        }
      }
    }
  }
  &__urBrandImg,
  &__cntryImg,
  &__cubesImg {
    position: absolute;
  }
  &__cubesImg {
    z-index: 1;
    left: 70px;
    top: 180px;
  }
  &__cntryImg {
    z-index: 1;
    right: 0;
    bottom: 0;
  }
  &__urBrandImg {
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: $breakpointTablet) {
  .begginersGPage {
    & .artBlock {
      & > h1 {
        font-size: 26px;
        line-height: normal;
      }
    }
    &__artsBlock {
      margin-top: 32px;

      & > .blockContainer:not(:last-child) {
        min-height: 174px;

        & > div {
          & > h3 {
            font-size: 22px;
            line-height: normal;
          }
          & > p {
            font-size: 14px;

            line-height: normal;
          }
        }
      }
      & > .blockContainer:nth-child(2),
      & > .blockContainer:nth-child(3) {
        flex: 40%;
      }
      & > .blockContainer:last-child {
        & > div {
          min-height: 246px;
        }
        & .blockContainer--map__AboutP {
          padding: 12px;
          border-radius: 14px;
          width: 170px;
          & h4 {
            font-size: 14px;
            line-height: normal;
          }
          & p {
            font-size: 12px;
            line-height: normal;
          }
        }
      }
    }
    &__cubesImg {
      width: 117.999px;
      height: 118.001px;
      top: 90px;
      left: 30px;
    }
    &__cntryImg {
      width: 278px;
      height: 151px;
      right: -30px;
    }
  }
}
@media screen and (max-width: $breakpointPhone) {
  .begginersGPage {
    &__artsBlock {
      margin-top: 16px;
      gap: 8px;
      & > .blockContainer:nth-child(2),
      & > .blockContainer:nth-child(3) {
        flex: 100%;
      }
      & > .blockContainer:nth-child(2) {
        min-height: 128px;
      }
      & > .blockContainer:last-child {
        height: 478px;
        background: none;
        border: none;
        & .blockContainer--map__AboutP:first-child {
          order: 2;
        }
        & .blockContainer--map__AboutP:last-child {
          order: 1;
          align-self: flex-end;
        }
      }
    }
    &__cubesImg {
      top: 17px;
      left: 86px;
    }
    &__cntryImg {
      right: 10px;
    }
    &__urBrandImg {
      left: 50%;
    }
  }
}
