@import "../../../../styles/mixins.scss";
@import "../../../../styles/values.scss";

.begginersGPage {
  &__howToBuy {
    margin: {
      top: 128px;
      bottom: 96px;
    }
  }
  &__howToBuyContent {
    > .wrldOfOpprtItem:not(:first-child) {
      .wrldOfOpprtItem__titleBox {
        position: relative;
        &::before {
          background: linear-gradient(
            90deg,
            rgba(105, 36, 185, 0) 0%,
            rgba(162, 85, 251, 1) 100%
          );

          position: absolute;
          left: -40px;

          height: 2px;
          width: 16px;

          content: "";
        }
      }
    }
  }
  &__howToBuyTitle {
    margin-bottom: 38px;

    text-align: center;

    font-size: 78px;
    line-height: 99px;
  }
}
@media screen and (max-width: $breakpointTablet) {
  .begginersGPage {
    &__howToBuy {
      margin: 64px 0;

      & h2 {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 32px;
      }

      & .wrldOfOpprtItem__titleBox {
        &::before {
          display: none;
        }
      }
    }
  }
}
